body {
    background-color: papayawhip;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    margin-left: 35px;
}

.list {
    font-size: 24px;
    font-weight: 400;
}

.item {
    padding-top: 10px;
}