@font-face {font-family: Simpsonfont; src: url('https://fontmeme.com/fonts/simpsonfont-font/')}

body {
    background-color: rgba(153, 204, 255, 255);
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    text-transform: capitalize;
    font-family: Simpsonfont, sans-serif;
    color: white; 
    text-shadow: -2px -2px 0 red, 2px -2px 0 red, -2px 2px 0 red, 2px 2px 0 red;  
}

.box {
    background-color: white;
    margin-right: 25%;
    padding: 2px 15px 10px 15px;
    margin-bottom: 20px;
}

img {
    width: 33%;
    height: auto;
}

.credit {
    font-size: 18px;
    margin-top: 0px;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    color: goldenrod;
}

ul li {
    margin-bottom: 10px;
}

.list {
    margin-bottom: 20px;
}

#home-link {
    font-weight: 800;
    font-size: 28px;
}